.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(22, 21, 21);
}

.header__icon {
  width: 50px;
  min-width: 50px;
  min-height: 50px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding: 20px;
    min-height: 20px;
  }
}
